@font-face {
    font-family: 'Space Grotesk';
    src:  url('./fonts/SpaceGrotesk-semibold.woff2') format('woff2'),
          url('./fonts/SpaceGrotesk-semibold.woff') format('woff');
    font-display: swap; 
  }